.password-modal {
	padding-top: 137px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
}

.password-modal :global .modal-content {
	background-color: transparent;
}

.password-modal :global .modal-content .modal-body {
	padding: 0;
}

.password-modal :global .modal-content .modal-body .send-password {
	height: 100%;
}
