.root {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 300;
	backdrop-filter: blur(10px);
}

.actions {
	display: 'flex';
	flex-direction: 'row';
	justify-content: 'center';
	align-items: 'center';
	margin-top: 80px;
}
